@font-face {
    font-family: 'PT Sans', arial;
    src: url(fonts/PTS/PTS55F.ttf) format('truetype-aat'), url(fonts/PTS/PTS55F.ttf) format('truetype-aat')
}

@font-face {
    font-family: 'PT Sans', arial;
    src: url(fonts/PTS/PTS56F.ttf) format('truetype-aat'), url(fonts/PTS/PTS56F.ttf) format('truetype-aat')
}

@font-face {
    font-family: 'PT Sans', arial;
    src: url(fonts/PTS/PTS75F.ttf) format('truetype-aat'), url(fonts/PTS/PTS75F.ttf) format('truetype-aat')
}

@font-face {
    font-family: 'PT Sans Pro Light';
    src: url(fonts/PTS/PTS45.otf) format('opentype'), url(fonts/PTS/PTS45.otf) format('opentype')
}

@font-face {
    font-family: 'PT Sans Pro';
    src: url(fonts/PTS/PTS55.otf) format('opentype'), url(fonts/PTS/PTS55.otf) format('opentype')
}

@font-face {
    font-family: 'PT Sans Pro Demi';
    src: url(fonts/PTS/PTS65.otf) format('opentype'), url(fonts/PTS/PTS65.otf) format('opentype')
}

@font-face {
    font-family: 'Helvetica Neue LT Cyrillic 35 T';
    src: url(fonts/helvetica/HelveticaNeueLTCYR-Thin.otf) format('opentype'), url(fonts/helvetica/HelveticaNeueLTCYR-Thin.otf) format('opentype')
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImZvbnRzLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxXQUFXLDRCQUE0Qiw2RkFBNkYsQ0FBQyxXQUFXLDRCQUE0Qiw2RkFBNkYsQ0FBQyxXQUFXLDRCQUE0Qiw2RkFBNkYsQ0FBQyxXQUFXLGdDQUFnQyxtRkFBbUYsQ0FBQyxXQUFXLDBCQUEwQixtRkFBbUYsQ0FBQyxXQUFXLCtCQUErQixtRkFBbUYsQ0FBQyIsImZpbGUiOiJmb250cy5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJAZm9udC1mYWNle2ZvbnQtZmFtaWx5OidQVCBTYW5zJyxhcmlhbDtzcmM6dXJsKGZvbnRzL1BUUzU1Ri50dGYpIGZvcm1hdCgndHJ1ZXR5cGUtYWF0JyksdXJsKGZvbnRzL1BUUzU1Ri50dGYpIGZvcm1hdCgndHJ1ZXR5cGUtYWF0Jyl9QGZvbnQtZmFjZXtmb250LWZhbWlseTonUFQgU2FucycsYXJpYWw7c3JjOnVybChmb250cy9QVFM1NkYudHRmKSBmb3JtYXQoJ3RydWV0eXBlLWFhdCcpLHVybChmb250cy9QVFM1NkYudHRmKSBmb3JtYXQoJ3RydWV0eXBlLWFhdCcpfUBmb250LWZhY2V7Zm9udC1mYW1pbHk6J1BUIFNhbnMnLGFyaWFsO3NyYzp1cmwoZm9udHMvUFRTNzVGLnR0ZikgZm9ybWF0KCd0cnVldHlwZS1hYXQnKSx1cmwoZm9udHMvUFRTNzVGLnR0ZikgZm9ybWF0KCd0cnVldHlwZS1hYXQnKX1AZm9udC1mYWNle2ZvbnQtZmFtaWx5OidQVCBTYW5zIFBybyBMaWdodCc7c3JjOnVybChmb250cy9QVFM0NS5vdGYpIGZvcm1hdCgnb3BlbnR5cGUnKSx1cmwoZm9udHMvUFRTNDUub3RmKSBmb3JtYXQoJ29wZW50eXBlJyl9QGZvbnQtZmFjZXtmb250LWZhbWlseTonUFQgU2FucyBQcm8nO3NyYzp1cmwoZm9udHMvUFRTNTUub3RmKSBmb3JtYXQoJ29wZW50eXBlJyksdXJsKGZvbnRzL1BUUzU1Lm90ZikgZm9ybWF0KCdvcGVudHlwZScpfUBmb250LWZhY2V7Zm9udC1mYW1pbHk6J1BUIFNhbnMgUHJvIERlbWknO3NyYzp1cmwoZm9udHMvUFRTNjUub3RmKSBmb3JtYXQoJ29wZW50eXBlJyksdXJsKGZvbnRzL1BUUzY1Lm90ZikgZm9ybWF0KCdvcGVudHlwZScpfSJdfQ== */